    body {
        color: rgb(255, 166, 0);
        font-weight: bolder;
    }

    .choice-container {
        display: flex;
        margin-bottom: 2.8rem;
        width: 100%;
        border-radius: 5px;
        background: rgba(66, 66, 66, 0.39);
        font-size: 4rem;
        font-family: "Roboto",
            sans-serif;
        min-width: 55rem;
    }

    .choice-container:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 2.4rem 0 rgba(255, 196, 0, 0.5);
        transform: scale(1.02);
        transform: transform 100ms;
    }

    .choice-prefix {
        padding: 2rem 2.5rem;
        color: white;
    }

    .choice-text {
        padding: 2rem;
        width: 100%;
    }

    .correct {
        background: linear-gradient(32deg, rgba(62, 226, 62, 0.596) 0%, rgb(28, 136, 28) 100%);
    }

    .incorrect {
        background: linear-gradient(32deg, rgba(255, 0, 0, 0.596) 0%, rgb(206, 22, 22) 100%);
    }

    #hud {
        display: flex;
        justify-content: space-between;
    }

    .hud-prefix {
        text-align: center;
        font-size: 2rem;
    }

    .hud-main-text {
        text-align: center;
    }

    #progressBar {
        width: 38rem;
        height: 4.4rem;
        border: 0.2rem solid rgb(150, 145, 145);
        margin-top: 2rem;
        border-radius: 50px;
        overflow: hidden;
    }

    #progressBar-Full {
        height: 100%;
        background: rgba(255, 204, 36, 0.589);
        width: 0%;
    }

    @media screen and(max-width:768px) {
        .choice-container {
            min-width: 40rem;
        }
    }